@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: url("ressources/foretlumdown.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.container-first{
    position: absolute;
    top: 30%;
    left: 5%;
}

h1{
    text-transform: uppercase;
    font-size: 110px;
    color: #f1f1f1;
    font-family: Abril Fatface, sans-serif;
}

h1 span{
    position: relative;
}

.container-btns {
    position: relative;
    top: 50px;
}

.btn-first{
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    color: #f1f1f1;
    cursor: pointer;
}

.btn-first:nth-child(1){
    margin-right: 30px;
}

.btn-first:hover{
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: #333;
}

.lignes{
    position: absolute;
    top: 6%;
    left: 5%;
}

.l1{
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}

.l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}

.logo{
    position: absolute;
    right: 2.9%;
    top: 4%;
    width: 80px;
    cursor: pointer;
}

.media {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bulle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: #f1f1f1 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}

.logo-medias {
    width: 40px;
    height: 40px;
}